name: Build Joomla Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout interface branch
        uses: actions/checkout@v4
        with:
          ref: interface

      - name: Set timestamp
        run: |
          TIMESTAMP=$(TZ="Europe/Berlin" date +"%y%m%d-%H%M")
          echo "TIMESTAMP=$TIMESTAMP" >> $GITHUB_ENV

      - name: Prepare build folder
        run: |
          rm -rf build
          mkdir build

          cp -r admin build/admin
          cp -r media build/media

          # Кладём манифест в корень ZIP (обязательно!)
          cp manifest/*.xml build/

      - name: Create ZIP
        run: |
          cd build
          zip -r ../KunenaTopic2Article-${{ env.TIMESTAMP }}.zip .

      - name: Upload zip
        uses: actions/upload-artifact@v4
        with:
          name: KunenaTopic2Article-${{ env.TIMESTAMP }}
          path: KunenaTopic2Article-${{ env.TIMESTAMP }}.zip
