- name: Build clean Joomla package ZIP ✅
        run: |
          ARCHIVE_NAME="com_kunenatopic2article_${{ env.TIMESTAMP }}.zip"
          
          # Создаем список файлов и папок, которые должны быть в пакете
          FILES="admin media kunenatopic2article.xml"
          
          # Архивируем только эти элементы
          # -r для рекурсивного включения папок admin и media
          zip -r $ARCHIVE_NAME $FILES
